/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(68, 68, 95);
  /* background-color: #f6f8f9; */
  font-family: 'Roboto', sans-serif;
}


/* Sezione Header */

header {
  height: 70px;
  line-height: 70px;
  background-color: #ffffff;
  font-weight: 700;
}

.logo-intestazione {
  vertical-align: middle;
  margin-left: 1rem;
}

.titolo-intestazione {
  display: inline-block;
  vertical-align: middle;
  font-size: 2.3rem;
}


/* Sezione Main */

.card {
  width: 80%;
  padding: 1rem 3rem;
  background-color: #ffffff;
}

.add-buttons {
  margin: 2rem auto 0.1rem auto;
} 

.tasks {
  margin: auto;
}
